/* defined colors */
$gray:rgb(139,139,139);
$light-gray:rgb(178,177,177);
$white:rgb(255,255,255);
$blue:rgb(95,167,240);
$landlord-bg:rgb(52,152,219); /* landlord box bg */
$client-bg:rgb(82,190,127); /* client box bg */
$green-bg:rgb(160,212,104); /* green button bg color */
$facebook-blue:rgb(93,156,236); /* login with facebook button bg */
$input-border-color:rgb(215,216,221);

/* facebook buttons style */
$fb-btn:rgb(59,89,152);
$fb-border:rgb(48,71,122);

/* alerts style - error */
$red-font:rgb(221,17,68); /* red font */
$red-input-bg:rgb(242,222,222); /* error validation input bg */

/* alerts style - success */
$green-font:rgb(70,136,71); /* green font */
$green-input-bg:rgb(223,240,216); /* success validation input bg */