/* defined mixins */

/* typography */
/*@mixin open-sans-light {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
@mixin open-sans-regular {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
@mixin text-shadow($h, $v, $blur, $color) {
	text-shadow: $h, $v, $blur, $color;
}
@mixin modal-p {
	@include open-sans-light;
	color:$gray;
	font-size: 12px;
	text-shadow: 1.5px 2.598px 4px rgba(255, 255, 255, 0.3);
	text-align: left;
	margin: 0;	
	padding: 0
}*/

/* box styling */
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

/* input styling */
@mixin input {
	@include border-radius(2px);
	@include open-sans-light;
	font-size:12px;
	float: left;
	width:348px;
	height: 35px;
	border:1px solid $input-border-color;
	padding:0 0 0 10px;
	margin:15px 0 0 0 !important;
	color:$gray;
	&:focus {
		opacity:1;
	    outline: 0;
	}
}
@mixin placeholder {
	&::-moz-placeholder { @content }
	&::-webkit-input-placeholder { @content }
	&:-ms-input-placeholder { @content }
}
@mixin placeholder-style {
	color: $light-gray;
}

/* buttons styling */
@mixin green-btn {
	@include border-radius(2px);
	@include open-sans-light;
	color:$white !important;
	background-color:$green-bg;
	display:inline-block;
	outline:0;
	border: 0;
	cursor:pointer;
	text-decoration:none;
	height: 35px;
	font-size: 16px;
	font-variant: small-caps;
	text-shadow: 1.5px 2.598px 4px rgba(255,255,255, 0.3);
	line-height: 31px;
	&:hover {
	    -webkit-box-shadow: inset 10px 10px 134px -3px rgba(0,0,0,0.15);
	    -moz-box-shadow: inset 10px 10px 134px -3px rgba(0,0,0,0.15);
	    box-shadow: inset 10px 10px 134px -3px rgba(0,0,0,0.15);
	}
}