@import "colors";
@import "mixins";

#login-modal {
    @include border-radius(3px);
    @include box-shadow(2px, 15px, 15px, rgba(0, 0, 0, 0.3));
	float: left;
    width: 360px;
    height: auto;
    padding: 10px;
    background-color: #f6f6f6;
    p.headline {
        @include modal-p;
        font-size: 18px;
    }
    .user-type {
        float: left;
        width: 360px;
        height: 200px;
        margin:15px 0 0 0;
        @include open-sans-light;
        .landlord, .client {
            @include border-radius(2px 0 0 2px);
            background-color:$landlord-bg;
            float: left;
            width: 180px;
            height: 160px;
            &:hover {
                -webkit-box-shadow: inset 10px 10px 134px -3px rgba(0,0,0,0.15);
                -moz-box-shadow: inset 10px 10px 134px -3px rgba(0,0,0,0.15);
                box-shadow: inset 10px 10px 134px -3px rgba(0,0,0,0.15);
            }
        }
        .client {
            @include border-radius(0 2px 2px 0);
            background-color:$client-bg;
            float: right;
        }
        .icon {
            width: 180px;
            height: 90px;
            padding: 20px 0 0 0;
            text-align: center;
        }
        .account-type {
            color: $white;
            width: 180px;
            text-align: center;
            font-variant: small-caps;
            font-size: 20px;
            text-shadow: 1px 1.732px 3px rgba(0,0,0,0.2);
        }
        p.info {
            @include open-sans-regular;
            color:$blue;
            float: left;
            clear: both;
            width: 100%;
            font-size: 12px;
            text-align: center;
            padding:15px 0 0 0;
            margin:0;
        }
    }
    #fb-login {
        @include open-sans-light;
        float:left;
        width:320px;
        padding:0 20px;
        margin:15px 0 0 0;
        .fb-login {
            float:left;
        }
        .fb-btn {
            color: $white;
            display: inline;
            float: left;
            width: 300px;
            height: 50px;
            padding:0 20px 0 0;
            background:$facebook-blue url('../img/fb-login-icon.png') no-repeat left top;
            font-size: 18px;
            text-shadow: 1px 1.732px 1px rgba(0,0,0,0.2);
            line-height: 50px;
            text-align: right;
            &:hover {
               -webkit-box-shadow: inset 10px 10px 134px -3px rgba(0,0,0,0.15);
               -moz-box-shadow: inset 10px 10px 134px -3px rgba(0,0,0,0.15);
               box-shadow: inset 10px 10px 134px -3px rgba(0,0,0,0.15); 
            }
            .small {
                display: inline;
                font-size: 10px;
            }
        }
    }
}
a:link {
    text-decoration: none;
}
#client-account {
    @include open-sans-light;
    float: left;
    width: 360px;
    margin:15px 0 0 0;
    .client-login {
        float:left;
        .headline {
            @include modal-p;
        }
        form.login {
            float:left;
            input.email, input.password {
                @include input;
                @include placeholder {
                    @include placeholder-style;
                  }
            }
            .option {
                float: left;
                width:360px;
                margin:15px 0 0 0;
                ul.form {
                    color:$gray;
                    float: left;
                    height: 40px;
                    padding: 0;
                    margin: 0;
                    font-size: 12px;
                    text-shadow: 1.5px 2.598px 4px rgba(255,255,255, 0.3);
                    li {
                        list-style-type: none;
                        line-height:20px;
                        text-shadow:1.5px 2.598px 4px rgba(255,255,255, 0.3 );
                        color:#8b8b8b;
                        &:link {
                            color:$gray;
                        }
                        &:hover {
                            text-decoration:underline;
                        }
                    }
                }
                #btn-login {
                    @include green-btn;
                    float: right;
                    width:115px;
                }
            }
        }
    }
    .client-registration {
        float:left;
        margin:15px 0 0 0;
        p.headline {
            @include modal-p;
        }
        form.registration {
            float: left;
            input.name, input.mail, input.pass, input.re-pass {
                @include input;
                @include placeholder {
                    @include placeholder-style;
                }
            }
            ul.form {
                float:left;
                width:360px;
                margin:15px 0 0 0;
                padding:0;
                li {
                    list-style-type:none;
                    @include modal-p;
                    input[type="checkbox"] {
                        margin:0 10px 0 0;
                    }
                    a:link {
                        color:$gray !important;
                        text-decoration: none;
                        font-size:12px;
                    }
                    a:hover {
                        text-decoration:underline;
                    }
                }
            }
            button#register {
                @include green-btn;
                float: left;
                width: 360px;
                margin:15px 0 0 0;
            }
        }
    }
}
.lost-password {
    float: left;
    margin:15px 0 0 0;
    p {
        @include modal-p;
    }
    form.recover-password {
        float:left;
        width:360px;
        input.e-mail {
            @include input;
            @include placeholder {
                @include placeholder-style;
              }
        }
        button#send-password {
            float: left;
            width: 360px;
            margin:15px 0 0 0;
            @include green-btn;
        }
    }
}
#landlord-account {
    float:left; 
    margin:15px 0 0 0;
    p {
        @include modal-p;
    }
    form.login {
        float: left;
        width:360px;
        input.landlord-email, input.landlord-password {
            @include input;
            @include placeholder {
                @include placeholder-style;
              }
        }
        .option {
            float: left;
            width:360px;
            margin:15px 0 0 0;
            ul.form {
                color:$gray;
                float: left;
                height: 40px;
                padding: 0;
                margin: 0;
                font-size: 12px;
                text-shadow: 1.5px 2.598px 4px rgba(255,255,255, 0.3);
                li {
                    list-style-type: none;
                    line-height:20px;
                    text-shadow:1.5px 2.598px 4px rgba(255,255,255, 0.3 );
                    color:#8b8b8b;
                    &:link {
                        color:$gray;
                    }
                    &:hover {
                        text-decoration:underline;
                    }
                }
            }
            button#btn-login {
                float: right;
                @include green-btn;
            }
        }
    }
}